<%= form_with(model: investigador, local: true) do |form| %>
  <% if investigador.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% investigador.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="regulatorio_form">
    <p id="notice"><%= notice %></p>
    <div class="form-group">
      <%= form.label :nombre_investigador %>
      <%= form.text_field :nombre, class: 'form-control'%>
    </div>
  </div>
  <div class="regulatorio_form">
    <button type="submit" class="btn btn-secondary">Guardar</button>
  </div>
<% end %>
