<%= form_with(model: estudio, local: true) do |form| %>
  <% if estudio.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% estudio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="regulatorio_form">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= form.label :nombre %>
          <%= form.text_field :nombre, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= form.label :codigo %>
          <%= form.text_field :codigo, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= form.label :estado %>
          <%= form.select(:estado,
              @estados.map {|e| [ e.first.titleize, e.first ] },
              { include_blank: true },
              { class:'form-control' })
            %>
        </div>
        <div class="form-group">
          <%= form.label :area %>
          <%= form.select(:area_id,
              @areas.map {|e| [ e.nombre, e.id ] },
              { include_blank: true },
              { class:'form-control' })
            %>
        </div>
        <div class="form-group">
          <%= form.label :especialidad %>
          <%= form.select(:especialidad_id,
              @especialidades.map {|e| [ e.nombre, e.id ] },
              { include_blank: true },
              { class:'form-control' })
            %>
        </div>
        <div class="form-group">
          <%= form.label :cro %>
          <%= form.select(:cro_id,
              @cros.map {|c| [ c.nombre, c.id ] },
              { include_blank: true },
              { class:'form-control' })
            %>
        </div>
        <div class="form-group">
          <%= form.label :laboratorio %>
          <%= form.select(:laboratorio_id,
              @laboratorios.map {|l| [ l.nombre, l.id ] },
              { include_blank: true },
              { class:'form-control' })
            %>
        </div>
        <div class="form-group">
          <%= form.label :commitment %>
          <%= form.text_field :commitment, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= form.label :contrato %>
          <%= form.select(:contrato,
              @estados_contrato.map {|e| [ e.first.titleize, e.first ] },
              { include_blank: true },
              { class:'form-control' })
            %>
        </div>
        <div class="form-group">
          <%= form.label :investigador %>
          <%= form.select(:investigador_id,
              @investigadores.map {|i| [ i.nombre, i.id ] },
              { include_blank: true },
              { class:'form-control' })
            %>
        </div>
        <div class="form-group">
          <%= form.label :comentario %>
          <%= form.text_area :comentario, rows:8,  class:'form-control' %>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_presentacion_paquete_inicial %>
              <%= form.date_field :fecha_ppi, class:'form-control' %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_aprobacion_paquete_inicial %>
              <%= form.date_field :fecha_aprobacion_ppi, class:'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :fecha_envio_sponsor %>
          <%= form.date_field :fecha_envio_sponsor, class:'form-control' %>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_presentacion_ccis_estudio %>
              <%= form.date_field :fecha_envio_ccis, class:'form-control' %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_aprobacion_ccis_estudio %>
              <%= form.date_field :fecha_aprobacion_ccis, class:'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_presentacion_ccis_centro %>
              <%= form.date_field :fecha_envio_ccis_centro, class:'form-control' %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_aprobacion_ccis_centro %>
              <%= form.date_field :fecha_aprobacion_ccis_centro, class:'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_presentacion_anmat_estudio %>
              <%= form.date_field :fecha_envio_anmat, class:'form-control' %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_aprobacion_anmat_estudio %>
              <%= form.date_field :fecha_aprobacion_anmat, class:'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_presentacion_anmat_centro %>
              <%= form.date_field :fecha_envio_anmat_centro, class:'form-control' %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= form.label :fecha_aprobacion_anmat_centro %>
              <%= form.date_field :fecha_aprobacion_anmat_centro, class:'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= form.label :archivos %> | <%= form.file_field :archivos, multiple: true %>
              <ul>
              <% estudio.archivos.each do |archivo| %>
                <li>
                <%= link_to archivo.identifier, archivo.url, target: "_blank"%>
                </li>
              <% end %>
              <ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="regulatorio_form">
    <button type="submit" class="btn btn-secondary">Guardar</button>
  </div>
<% end %>
