<%= form_with method: :get, local: true do |form| %>
  <div class="regulatorio_form">
    <table class="table">
      <thead class="thead-light">

        <tr>
          <th>
            Nombre
            <%= form.text_field :nombre, class: 'form-control', value: @nombre%>
          </th>
          <th>
            Codigo
            <%= form.text_field :codigo, class: 'form-control', value: @codigo%>
          </th>
          <th>Laboratorio
          <%= form.select(:laboratorio_id,
              @laboratorios.map {|l| [ l.nombre, l.id ] },
              { include_blank: true, selected: @laboratorio },
              { class:'form-control'})
          %>
          </th>
          <th>Cro
          <%= form.select(:cro_id,
              @cros.map {|c| [ c.nombre, c.id ] },
              { include_blank: true, selected: @cro },
              { class:'form-control'})
          %>
          </th>
          <th>
            Area
            <%= form.select(:area_id,
                @areas.map {|a| [ a.nombre, a.id ] },
                { include_blank: true, selected: @area },
                { class:'form-control' })
            %>
          </th>
          <th>
            Especialidad
            <%= form.select(:especialidad_id,
                @especialidades.map {|e| [ e.nombre, e.id ] },
                { include_blank: true, selected: @especialidad },
                { class:'form-control' })
            %>
          </th>
          <th>
            Investigador
            <%= form.select(:investigador_id,
              @investigadores.map {|i| [ i.nombre, i.id ] },
              { include_blank: true, selected: @investigador },
              { class:'form-control' })
            %>
          </th>
          <th>
            Estado
            <%= form.select(:estado,
              @estados.map {|e| [ e.first.titleize, e.first ] },
              { include_blank: true, selected: @estado },
              { class:'form-control' })
            %>
          </th>
          <th colspan="2">
            <button type="submit" class="btn btn-secondary">Filtrar</button>
            <%= link_to 'Limpiar', estudios_path, class: 'btn btn-secondary' %>
          </th>

        </tr>
      </thead>

      <tbody>
        <% @estudios.each do |estudio| %>
          <tr>
            <td><%= estudio.nombre %></td>
            <td><%= estudio.codigo %></td>
            <td><%= estudio.laboratorio.nombre %></td>
            <td><%= estudio.cro ? estudio.cro.nombre : '' %></td>
            <td><%= estudio.area ? estudio.area.nombre : '' %></td>
            <td><%= estudio.especialidad.nombre %></td>
            <td><%= estudio.investigador ? estudio.investigador.nombre : '' %></td>
            <td><%= estudio.estado.titleize %></td>
            <td><%= link_to 'Ver', estudio %></td>
            <td><%= link_to 'Eliminar', estudio, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<% end %>
