<!DOCTYPE html>
<html>
  <head>
    <title>Regulatorio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-dark bg-dark" style="-webkit-print-color-adjust: exact">
        <h2 style="color: white">
          Regulatorio
        <h2>
      </nav>
      <nav class="navbar-dark bg-dark regulatorio_menu">
        <%= link_to 'Listado Estudios', root_path, class: 'btn btn-secondary' %>
        <%= link_to 'Nuevo Estudio', new_estudio_path, class: 'btn btn-secondary' %>
        <%= link_to 'Nuevo Laboratorio', new_laboratorio_path, class: 'btn btn-secondary' %>
        <%= link_to 'Nueva Especialidad', new_especialidad_path, class: 'btn btn-secondary' %>
      </nav>
        <%= yield %>
    </body>
</html>
